<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="site officiel du fc saint eloi lupopo">
    <meta content="site officiel Lupopo saint Eloit " name="keywords">
    <title>{% block title %} fc Saint Eloi Lupopo | site officiel{% endblock %}</title>
    <!-- static resources -->
    {% load static %}
    <link href="{% static 'img/logo/logo.ico' %}" rel="icon">
    <!-- boostrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css'%}">

</head>
<body>
  <!-- section topbar -->
  <div class="topbar">
    <!-- container topbar-->
    <div class="container_topbar">
      <ul class="topbar_logo">
        <li> <img src="{% static 'img/logo/logo-removebg.png' %}" alt="">
            <h1>fc saint eloi</h1>
        </li>
        <li><h1>lupopo</h1></li>
      </ul>
      <ul class="topbar_social">
        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
      </ul>
    </div>
    <!-- End container topbar-->
  </div>
  <!-- End section topbar -->

  <!-- section navigation -->
  <header class="page-header">
    <nav>
      <button aria-label="Open Mobile Menu" class="open-mobile-menu fa-lg">
        <i class="fas fa-bars" aria-hidden="true"></i>
      </button>
      <a class="logo-link" href="#">
        <img class="logo horizontal-logo" src="{% static 'img/logo/logo-removebg.png'%}" alt="forecastr logo">
        <img class="logo vertical-logo" src="{% static 'img/logo/logo-removebg.png'%}" alt="forecastr logo">
      </a>
      <div class="top-menu-wrapper">
        <div class="panel panel1"></div>
        <div class="panel panel2"></div>
        <div class="top-menu">
          <div class="mob-block">
            <div class="logo_container">
              <img class="logo" src="{% static 'img/logo/logo-removebg.png'%}" alt="forecastr horizontal mobile logo">
              <h1>Fc Saint Eloi Lupopo</h1>
              <button aria-label="Close Mobile Menu" class="close-mobile-menu fa-lg">
                <i class="fas fa-times" aria-hidden="true"></i>
              </button>
            </div>
            <div class="br"></div>
          </div>
          <div class="top-menu-nav">
            <ul class="top-menu-nav-list">
              <li   class="has-dropdown active-link">
                <a  id="club" href="#">club =></a>
                <ul class="sub-menu ">
                  <li><a href="#">actualité</a></li>
                  <li><a href="#">historique</a></li>
                  <li><a href="#">dirigeant</a></li>
                </ul>
              </li>
              <li  class="has-dropdown">
                <a id="equipe" href="#">equipe premier</a>
                <ul class="sub-menu">
                  <li><a href="#">actualités</a></li>
                  <li><a href="#">calendrier</a></li>
                  <li><a href="#">effectif</a></li>
                  <li><a href="#">staff</a></li>
                </ul>
              </li>
              <li  class="has-dropdown">
                <a id="competiton" href="#">competitions =></a>
                <ul class="sub-menu">
                  <li><a href="#">vodacom league 1</a></li>
                  <li><a href="#">coupe du congo</a></li>
                  <li><a href="#">confederation</a></li>
                </ul>                
              </li>
              <li >
                <a href="#">stade</a>
              </li>
              <li>
                <a href="#">palmares</a>
              </li>
              <li>
                <a href="#">sponsors</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
            </ul>
            <div class="mob-sub-menu-container">
                <ul name="club" class="mob-sub-menu active-sub in">
                  <li><div class="title_menu">club</div></li>
                  <li><a href="#">actualité</a></li>
                  <li><a href="#">historique</a></li>
                  <li><a href="#">dirigeant</a></li>
                </ul>
                <ul name="equipe" class="mob-sub-menu">
                  <li><div class="title_menu">equipe premiere</div></li>
                  <li><a href="#">actualités</a></li>
                  <li><a href="#">calendrier</a></li>
                  <li><a href="#">effectif</a></li>
                  <li><a href="#">staff</a></li>
                </ul>
                <ul name="competiton"  class="mob-sub-menu">
                  <li><div class="title_menu">competitons</div></li>
                  <li><a href="#">vodacom league 1</a></li>
                  <li><a href="#">coupe du congo</a></li>
                  <li><a href="#">confederation</a></li>
                </ul>  
            </div>
          </div>
          <div class="mob_social_container">
            <div class="br"></div>
            <span> Suivez nous sur l'un de ces media sociaux </span>
            <ul class="socials">
              <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>            
            </ul>
          </div>

        </div>
        <button class="sponsor">
          <i class="fa-solid fa-building-columns"></i>
          <span>afficher les sponsors</span>
        </button>
        <ul class="sponsor_container">
          <li>nike</li>
          <li>nike</li>
          <li>nike</li>
          <li>nike</li>
        </ul>
      </div>
    </nav>
    <div class="br2"></div>
  </header>
  <!-- end section navigation -->

  <!-- top informatioin section -->
  <section class="bannier">
    <div class="container_bannier">
      <div class="stage">
        <div class="element item1 inactive" style="background-image: url({% static 'img/other/top-info1.jpg' %})">
            <div class="element_content">
              <div class="date"> 22 juillet 20222 </div>
              <div class="title"><h4>Le Club était en Assemblée générale ordinaire ce dimanche</h4></div>
              <div class="summer">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio corporis quod praesentium! Consectetur ducimus voluptatem autem</p>
                <a class="btn" href="#">lire la suite</a>
              </div>
            </div>
        </div>
        <div class="element item2 active" style="background-image:url({% static 'img/other/top-info2.jpg' %})">
            <div class="element_content">
              <div class="date"> 22 juillet 20222 </div>
              <div class="title"><h4>Annonce d'une serie de nouveau recrutement par le president</h4></div>            
              <div class="summer">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio corporis quod praesentium! Consectetur ducimus voluptatem autem</p>
                <a class="btn">lire la suite</a>
              </div>
            </div>
        </div>
        <div class="element item3 inactive" style="background-image: url({% static 'img/other/top-info3.jpg' %})">
            <div class="element_content">
              <div class="date"> 22 juillet 20222 </div>
              <div class="title"><h4>Qui est Mohamed Magassouba, le nouveau coach ?</h4></div>
              <div class="summer">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio corporis quod praesentium! Consectetur ducimus voluptatem autem</p>
                <a class="btn" href="#">lire la suite</a>
              </div>     
            </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End top info section-->
  <!-- section boutique -->
  <section class="boutique">
    <div class="secton_container">
      <h1 class="title br2">boutique</h1>
      <h3 class="subtitle">visitez notre boutique</h3>
      <div class="content_boutique">

      </div>
    </div>
  </section>
  <!--End section boutique-->

  <!-- scripts -->
  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'js/bannier.js' %}"></script>

</body>
</html>


<!--
    /************************************
    * B_elieve is beautiful,
    * y_ou believe,you live, *
    *
    * N_o one can tell you, *
    * A text that comes to life. *
    * T_his is wonderful, *
    * H_appy is my soul, *
    * A line of code that comes to life. *
    * N_o one could believe in 1700. *
    *
    * L_ong was the road, *
    * O_n the Avenue ; lots of bugs, *
    * P_erfect is the result, when ; *
    * E_very written word becomes an action, *
    * Z_ero errors and zero bugs.
    *
************************************/
-->