
*{
  padding: 0;
  margin: 0;
}

*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}


:root {

  /* my color */
  --jaune: #f8f130;
  --jaunet: #f8f13096;
  --jaunett: #f8f13065;
  --jaune_clare : rgb(241, 193, 116);
  --blue: #2728fe;
  --bluet: #2727fe81;
  --blue_fonce: #001147;
  --blue_claire: rgb(55, 194, 253);
  --text_color: #818188;
  --main-text-color: rgba(0, 0, 0, 0.836) ;
  --myblack: rgba(0, 0, 0, 0.486);
  --mywhite: rgba(255, 255, 255, 0.74);
  --transparant: rgba(2, 2, 27, 0.123);

}

/* polices */

@font-face {
  font-family: "merriweather";
  src: url("../font/merriweather/Merriweather-Regular.e2f219e63a57.ttf");
}

@font-face {
  font-family: "staatliches";
  src: url("../font/staatliches/Staatliches-Regular.0b1946eaefae.ttf");
}

@font-face {
  font-family: "work";
  src: url("../font/work/WorkSans-Regular.755318e35560.ttf");
  font-style: normal;
}


@font-face {
  font-family: "edu";
  src: url("../font/edu/EduTASBeginner-Regular.21fa31b2274d.ttf");
  font-style: normal;
}

@font-face {
  font-family: "spectral";
  src: url("../font/spectral/Spectral-Regular.4689a7024860.ttf");
  font-style: normal;
}


body{
  font-family: work;
  font-size:16px;
  color: var(--text_color);
  background: rgb(255, 255, 235);
  margin:0 auto;
  overflow-x:hidden;
}


p {
  margin: 0;
  font-size:16px;
  line-height: 1.8;
}

a{
  text-decoration: none;
  color: inherit;
}
img{border:none;max-width:100%; height:auto;}
ul{
  padding: 0;
    margin: 0 auto;
    list-style: none;
}
ul li {
  list-style: none;

}
select,input,textarea,button{box-shadow:none;outline:0!important;}
button {background: transparent;border: 0;}

html,body{height: 100%;}

[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease;
  -moz-transition: opacity 0.3s 0.3s ease;
  -ms-transition: opacity 0.3s 0.3s ease;
  -o-transition: opacity 0.3s 0.3s ease;
  transition: opacity 0.3s 0.3s ease;
  opacity: 0;
}

.date{
  font-family: edu;
  opacity: .9;
  font-size: .7rem;
}

.section_container{
  width: 100px;
  max-width: 1300px;
}

.br2{
  height: 15px;
  width: 100%;
  margin: 0;
  background : linear-gradient(to right,var(--blue_fonce) 10%, var(--jaunett) 30%, var(--jaunet) 90%, var(--jaune));
}

.btn.btn-custom {
  padding: 10px 20px 10px 20px;
  text-align: center; 
  font-size: 16px;
  font-weight: 500;
  color: var(--jaune);
  background: var(--blue_fonce);
  border: none;
  border-radius: 60px;
  box-shadow: inset 0 0 0 0 var(--blue);
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
}

.btn.btn-custom:hover {
  background: var(--blue);
  box-shadow: inset 200px 0 0 0 var(--blue);
}


/* section topbar */
.topbar{
  background: var(--jaune);
  font-size:12px;
}

.container_topbar{
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.topbar h1{
  font-size: calc(1.275rem + 1.1vw);
  font-family: staatliches ;
  margin: 0;
}

.topbar ul{
  display: flex;
}


.topbar li, .topbar a{
  display: flex;
  align-items: center;
  transition: color .3s;
  height: 30px;
}

.topbar .topbar_social li{
margin: 0 8px;
}

.topbar .topbar_social a i{
  font-size: 14px;
}

.topbar .topbar_logo img{
  width: 30px;
  height: 30px;
  margin: 0;
}
.topbar .topbar_social li:hover{
color: var(--blue_fonce)
}

.topbar .topbar_social{
  background-color: var(--blue_fonce);
  color: var(--jaune);
  justify-content: flex-end;
}

.topbar .topbar_logo{
  align-items: center;
  color: var(--blue);
}

.topbar .topbar_logo li:first-child{
  width: 50%;
  display: flex;
  justify-content: space-between;
  background: var(--jaune);
  align-items: center;
}
.topbar .topbar_logo li:last-child{
  background-color: var(--blue_fonce);
  color: var(--jaune);
  width: 50%;

}

.topbar .topbar_logo li:last-child::before{
  content: "";
  display: inline-block;
  border-right: solid 20px transparent;
  border-bottom: solid 30px var(--jaune);
}




.no-transition {
  transition: none !important;
}

.page-header {
  position: relative;
  height:  50px;
  width: 100%;
  background: var(--blue_fonce);
}

.page-header  .br2{
  height: 10px;
}

.page-header .open-mobile-menu{
  color: var(--jaune);
  font-size: 20px;
}


.page-header .sponsor .fa-solid{
  font-size: 20px;
}

.page-header .logo{
  height: 40px;
}

.page-header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

.page-header .horizontal-logo,
.page-header .sponsor span {
  display: none;
}

.page-header .vertical-logo {
  max-width: 9.5rem;
}

.page-header .top-menu-wrapper {
  color: var(--jaune);
}

.page-header .top-menu-wrapper::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: background 0.5s;
}

.page-header .sponsor {
  color: var(--jaune);
}

.page-header .panel,
.page-header .top-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.page-header .panel1 {
  width: 100%;
  background: var(--jaunet);
  transition-delay: 0.3s;
}

.page-header .panel2 {
  width: calc(100% - 1rem);
  background: var(--blue);
  transition-delay: 0.1s;
}

.page-header .top-menu{
  display: flex;
  flex-direction: column;
  width: calc(100% - 2rem);
  overflow-y: auto;
  background: var(--blue_fonce);
}

.page-header .top-menu-wrapper.show-offcanvas::before {
  background: transparent;
  z-index: 1;
}

.page-header .top-menu-wrapper.show-offcanvas .panel,
.page-header .top-menu-wrapper.show-offcanvas .top-menu {
transform: translate3d(0, 0, 0);
transition-duration: 0.7s;
}

.page-header .top-menu-wrapper.show-offcanvas .panel1 {
transition-delay: 0s;
}

.page-header .top-menu-wrapper.show-offcanvas .panel2 {
  transition-delay: 0.2s;
}

.page-header .top-menu-wrapper.show-offcanvas .top-menu {
  transition-delay: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 4rem 0.5rem;
}


.page-header .sponsor_container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  color: var(--blue_fonce);
  background: var(--jaune);
  transition: all 0.2s;
}

.page-header .sponsor_container.is-visible {
  visibility: visible;
  z-index: 1;
  opacity: 1;
}


.page-header .top-menu .br{
  margin: 20px 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, var(--jaune), var(--jaune) 49.9%, var(--blue) 50%, var(--blue));
}

.page-header .top-menu .mob-block .logo_container {
  display: flex;
  align-items: center;
  padding: 1rem;
}


.page-header .top-menu .top-menu-nav{
  display: flex;
  width: 100%;
}



.page-header ul a {
  display: inline-block;
  align-items: center;
  font-family: staatliches;
  font-size: 1rem;
  transition: color 0.35s ease-out;

  padding: 1rem 0 1rem .9rem;
  width: 100%;
  border-bottom: 0.9px solid ;
  border-color:var(--jaune);
}





.page-header ul a:hover {
  color: var(--blue);
}


.page-header .has-dropdown i {
  display: none;
}

.page-header .top-menu .top-menu-nav  .active-link{
  background: linear-gradient(to right, var(--jaune),  var(--jaune) 2%, var(--blue_fonce) 2.1%, var(--blue_fonce), var(--blue_fonce) 80%,var(--bluet));
}




.page-header .top-menu .top-menu-nav .mob-sub-menu-container{
  width: 50%;
  background: linear-gradient(to right, var(--bluet), var(--blue), var(--blue));
  border-radius: 0 20px 0 10px ;
}

.page-header ul .active-link  a:hover, .page-header .mob-sub-menu li a:hover{
  color: var(--jaune);
}


.page-header .top-menu .top-menu-nav .mob-sub-menu-container ul .title_menu{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.2rem .1rem 10px black ;
  padding: 1rem 0;
  border-radius: 0 20px 0 0 ;
  font-family: staatliches;
}


.page-header .top-menu .mob-sub-menu-container .mob-sub-menu{
  opacity: 0;
  display: none;

}
.page-header .top-menu .mob-sub-menu-container .active-sub{
  display: block;
}

.page-header .top-menu .mob-sub-menu-container .in{
  opacity: 1; 
  transition: opacity .4s;

}




.page-header .top-menu .top-menu-nav .top-menu-nav-list{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0;
  margin: 0;
}


.page-header .sub-menu {
  display: none;
  flex-direction: column;
  font-family: edu;
  text-transform: capitalize;
}

.page-header .mob-sub-menu-container .mob-sub-menu li a{
  border-bottom : 0.4px solid var(--blue_fonce);
  font-family: edu;
  text-transform: capitalize;
}


.page-header .top-menu .mob-block h1{
  font-size: calc(1.1rem + 1.1vw);
  margin: 0;
  font-family: staatliches;
}
.page-header .top-menu .mob-block button{
  margin-left: auto;
}

.page-header .top-menu .mob-block i {
  color: var(--jaune);
}

.page-header .mob_social_container span{
  font-size: .7rem;
  font-family: edu;
  display: inline-block;
  width: 100%;
  text-align: center;

}


.page-header .socials {
  background: var(--jaune);
  color: var(--blue);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.page-header .socials a{
  transition: color .3s;
}

.page-header .socials a:hover{
  color: var(--blue_fonce)
}

.page-header .socials li + li {
  margin-top: 0;
}

.page-header .socials a .fa-brands{
  font-size: 1rem;
}


/* section bannier */

.bannier{
  height: 689px;
  width: 100%;
  padding-bottom: 10px;
  background-color: var(--blue_fonce);
}




.container_bannier {
  max-width: 1300px;
  width: 100%;
  opacity: 0;
  height: inherit;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-animation: 1s appear 1 forwards;
  -moz-animation: 1s appear 1 forwards;
  -o-animation: 1s appear 1 forwards;
  animation: 1s appear 1 forwards;
}


.stage {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.element {
  height: inherit;
  display: inline-block;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.element.active {
  width: 50%;
  box-shadow: 0 10px 1em var(--blue) ;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.element.inactive {
  width: 25%;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 0.5;
}
.element.item1, .element.item2,.element.item3 {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.element_content{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 7px 5px 7px;
  transition: all .3s;

  width: 100%;
  height: 100%;
  color : var(--jaune);
  background: linear-gradient(to top, var(--blue_fonce) 10%, rgba(173, 213, 252, 0.158) 30%, rgba(173, 213, 252, 0.158))
}

.title h4{
  font-family: merriweather;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1;
  transition: all .3s;
}



.inactive .element_content .title {
  font-size: .7rem;
  opacity: 1;
}

.inactive .element_content .summer, .inactive .element_content .btn, .inactive .element_content .date{
  display: none;
}

.active .element_content .title{
  width: 100%;
  text-align: start;
}

.active .element_content .date{
  width: 100%;
  margin-bottom: 5px;
  padding: 2px 5px;
  text-align: start;
  background : linear-gradient(to right, var(--blue_fonce) 10%, rgba(2, 2, 27, 0.123))
}


.active .element_content .summer{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  color: var(--mywhite)
}


.active .element_content .btn{
  border: none;
  color: inherit;
  font-weight: 700;
  font-size: 18px;
  padding: 0;
  margin-left: auto;
  color: var(--jaune);
}
.active .element_content .btn:hover{
  color: var(--blue_claire);
  transition: color .3s;

}


.element:last-of-type {
  margin: 0;
}